# Code Section

In [76]:
#import required modules and load the CSV file
import numpy as np
import pandas as pd
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding='latin-1')
df.info() #Print some basic info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [77]:
#Q.3 Total Protein Supply in Madagascar in 2015
#We filter for Area=Madagascar and Element=Protein Supply Quantity. Then we take out the Series corresponding to 2015 and sum over the values
df[(df['Area']=='Madagascar') & (df['Element']=='Protein supply quantity (g/capita/day)')]['Y2015'].sum()

173.04999999999998

In [78]:
#Q.4 What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
print("Mean: ",df['Y2017'].mean())
print("Standard Deviation: ",df['Y2017'].std())

Mean:  140.9177648602722
Standard Deviation:  1671.8623590567995

In [79]:
#Q.6 Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
grouped = df[['Area','Y2017']].groupby('Area').sum() #Grouped the selected columns based on Area and invoked sum(),which summed Y2017 column.
grouped.sort_values(by='Y2017') #Sorted the resulting dataframe based on values in Y2017

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

In [80]:
#Q.11 Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
grouped = df[['Area','Y2017']].groupby('Area').sum() #Selected the columns and grouped by Area,invoked sum which summed the Y2017 column.
grouped.sort_values(by='Y2017',ascending=False) # Sorted the resulting dataframe in Descending order.

                                  Y2017
Area
Nigeria                      1483268.23
Egypt                         866379.92
South Africa                  517590.54
Ethiopia                      448683.76
Morocco                       388495.36
Ghana                         337599.06
Algeria                       325644.27
United Republic of Tanzania   322616.85
Kenya                         264660.66
Sudan                         239931.92
Cameroon                      232030.43
Angola                        229159.57
Côte d'Ivoire                 224599.01
Uganda                        213950.38
Malawi                        181098.71
Mozambique                    161407.98
Mauritania                    156665.46
Mali                          149928.33
Madagascar                    131197.73
Niger                         126707.58
Benin                         124771.22
Tunisia                       124167.20
Zambia                        103223.77
Burkina Faso                  101855.07
Guinea                         98138.87
Senegal                        95681.15
Zimbabwe                       75919.34
Rwanda                         73663.69
Chad                           71594.68
Sierra Leone                   55311.33
Eswatini                       54343.33
Mauritius                      51114.83
Togo                           49841.88
Congo                          41181.68
Central African Republic       29937.00
Namibia                        29874.89
Liberia                        29342.20
Gabon                          27979.64
Gambia                         23154.18
Djibouti                       22729.91
Botswana                       22101.30
Lesotho                        21267.96
Guinea-Bissau                  19102.77
Cabo Verde                     14650.74
Sao Tome and Principe          12662.63
Seychelles                       442.34
Comoros                           59.84
Sudan (former)                     0.00
Ethiopia PDR                       0.00

In [81]:
#Q.12 Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
grouped = df.groupby('Element').sum() #Group df by 'Element' column and take the sum of all columns in the resulting dataframe
grouped[grouped['Area Code']==571566][['Y2014','Y2015','Y2016','Y2017','Y2018']]# filter out the row corresponding to StockVariation and the columns for 2014,2015 and so on.

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

In [82]:
#Q.13 What is the total number of unique countries in the dataset?
df.value_counts('Area').shape

(49,)

In [83]:
#Q.15 Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
grouped = df.groupby('Element').sum()
grouped[grouped['Area Code']==271940]['Y2017']

Element
Processing    292836.0
Name: Y2017, dtype: float64

In [84]:
#Q.17 What is the total number and percentage of missing data in 2014 to 3 decimal places?
numNA = df['Y2014'].isna().sum() #Find total number of missing data in 'Y2014'
percentNa = numNA/len(df['Y2014']) * 100 #Find percentage of missing data in 'Y2014'
print("Number of missing data: ",numNA)
print("Percentage of missing data: ",percentNa)

Number of missing data:  1589
Percentage of missing data:  2.6073544131401474

In [90]:
#Q.19 What is the total sum of Wine produced in 2015 and 2018 respectively?
grouped = df.groupby('Item').sum()
print(grouped[grouped['Area Code']==66206]['Y2015'])
print(grouped[grouped['Area Code']==66206]['Y2018'])

Item
Wine    4251.81
Name: Y2015, dtype: float64
Item
Wine    4039.32
Name: Y2018, dtype: float64